<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Intimate</title>
        <meta name="description" content="Lucas Ottone is a young freelance photographer from Mallorca. His work focus on portrait and fashion.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"><!-- preventing zooming -->
        <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- make it web capable -->
        <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
        <link rel="apple-touch-startup-image" href="startup.png">
        <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="touch-icon-iphone-retina.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="touch-icon-ipad-retina.png" />
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="//use.typekit.net/fli0add.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

    </head>
    <body>
            <!--[if lt IE 7]><p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p><![endif]-->
        <header>
            <h1><a href="index.html">Lucas Ottone</a></h1>
            <a href="#menu" class="menu-link"><span>Menu</span></a>
                <nav id="menu" role="navigation">
                    <ul>
                        <li><a href="index.html">Fashion</a></li>
                        <li><a href="portrait.html">Portrait</a></li>
                        <li><a class="through" href="intimate.html">Intimate</a></li>
                        <li><a href="diaries.html">Diaries</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
        </header>
        <section class="intimate">
            <img onload="this.style.opacity='1';" src="img/intimate/i01.jpg">
            <img onload="this.style.opacity='1';" src="img/intimate/i02.jpg">
            <img onload="this.style.opacity='1';" src="img/intimate/i03.jpg">
            <img onload="this.style.opacity='1';" src="img/intimate/i04.jpg">
            <img onload="this.style.opacity='1';" src="img/intimate/i05.jpg">                    
            <img onload="this.style.opacity='1';" src="img/intimate/i06.jpg">                    
            <img onload="this.style.opacity='1';" src="img/intimate/i07.jpg">                    
            <img onload="this.style.opacity='1';" src="img/intimate/i08.jpg">                    
            <img onload="this.style.opacity='1';" src="img/intimate/i09.jpg">
            <a onload="this.style.opacity='.4';" href="diaries.html" class="nextsection">next section</a>                    
        </section>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
